package formerrors

import (
    "github.com/gookit/validate"
	"github.com/manicar2093/gomancer/bootstrap/core/web/components/form"
)

type FormErrorsProps struct {
    HasErrors bool
    Errors validate.Errors
    FormItemKey string
}

templ FormErrors(props FormErrorsProps) {
	if props.HasErrors {
    	for _,value := range props.Errors.Field(props.FormItemKey) {
    		@form.Message(form.MessageProps{
    			Variant: form.MessageVariantError,
    		}) {
    			{ value }
    		}
    	}
    }
}