{{define "web_edit"}}package {{print .LowerNoSpaceCase "pages"}}

import (
	{{.GoDeps.Std.Fmt.GenerateImportString}}
	{{.GoDeps.Std.Net.Http.GenerateImportString}}
	{{.GoDeps.GookitValidate.GenerateImportString}}
	{{.GoDeps.Core.Web.Layouts.GenerateImportString}}
	{{.GoDeps.Project.Internal.Domain.Models.GenerateImportString}}
	{{.GoDeps.Core.Web.Components.GenerateImportString}}
)

templ Edit{{.PascalCase}}Page({{.CamelCase}} *models.{{.PascalCase}}, errors validate.Errors) {
	@layouts.Initial() {
		@{{.PascalCase}}Form(
			{{.CamelCase}},
			errors,
			{{.GoDeps.Core.Web.Components.Alias}}.FormProperties{
				Action: fmt.Sprintf("/app/{{Pluralize .SnakeCase}}/%v", {{.CamelCase}}.Id),
				Method: http.MethodPut,
			},
		)
	}
}
{{end}}