{{define "web_form"}}package {{.LowerNoSpaceCase}}pages

import (
    {{ .GoDeps.GookitValidate.GenerateImportString }}
    {{ .GoDeps.I18n.GenerateImportString }}
    {{ range .ComponentsDeps }}{{ println .GenerateImportString  }}{{ end }}
    {{ .GoDeps.Project.Core.Web.Components.GenerateImportString }}
    {{ .GoDeps.Project.Core.Web.Components.FormTag.GenerateImportString }}
    {{ .GoDeps.Project.Internal.Domain.Models.GenerateImportString }}
)

templ {{.PascalCase}}Form({{.CamelCase}} *models.{{.PascalCase}}, errors validate.Errors, props {{.GoDeps.Project.Core.Web.Components.Alias}}.FormProperties) {
    @formtag.FormTag(formtag.FormTagProperties{
        Action: props.Action,
        Method: props.Method,
        Class:  props.Class,
    }) {
        <div class="mx-auto w-full max-w-7xl rounded-lg border bg-card p-4 shadow-sm md:p-6">
            <div class="mb-4 space-y-1">
                <h2 class="text-lg font-semibold tracking-tight">PostTest</h2>
                <p class="text-sm text-muted-foreground">{ i18n.T(ctx, "create_item_text") }</p>
            </div>
            @form.Item(form.ItemProps{}) {
                @input.Input(input.Props{
                    Name:  "_method",
                    Value: props.Method,
                    Type:  "hidden",
                })
            }
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
{{ range .Attributes }}
                {{GenerateFormItemInput .}}
{{ end }}
            </div>
            <div class="mt-6 flex flex-wrap items-center gap-2 border-t pt-4">
                @button.Button(button.Props{
                    Variant: button.VariantDefault,
                    Type:    button.TypeSubmit,
                }) {
                    { i18n.T(ctx, "save") }
                }
                @button.Button(button.Props{
                    Type:    button.TypeSubmit,
                    Variant: button.VariantGhost,
                    Href:    "/app/{{ Pluralize .SnakeCase }}?page_number=1",
                }) {
                    { i18n.T(ctx, "cancel") }
                }
            </div>
        </div>
    }
}
{{end}}
