{{ printf  "{{ %sKey := \"%s\" }}" .CamelCase .SnakeCase }}
{{ printf "{{ has%sErrors := errors.HasField(%sKey) }}" .PascalCase .CamelCase}}
@form.Item(form.ItemProps{}) {
	@label.Label(label.Props{
		For: {{ .CamelCase }}Key,
	}) {
		{{ .PascalCase }}
	}
	@input.Input(input.Props{
		ID:       {{ .CamelCase }}Key,
		Name:     {{ .CamelCase }}Key,
		Type:     input.TypeNumber,
		Value:    postTest.{{ .PascalCase }},
		HasError: has{{ .PascalCase }}Errors,
		{{- if not .IsOptional }}
		Required: true,
		{{- end }}
		Attributes: map[string]any{
			"step": "0.01",
		},
	})
	@form.Description() {
		Enter {{ .PascalCase }}
	}
	if has{{ .PascalCase }}Errors {
		for _,value := range errors.Field({{ .CamelCase }}Key) {
			@form.Message(form.MessageProps{
				Variant: form.MessageVariantError,
			}) {
				{ value }
			}
		}
	}
}
