{{ printf "{{ %sKey := \"%s\" }}" .CamelCase .SnakeCase}}
@label.Label(label.Props{
	For: {{ .CamelCase }}Key,
}) {
	{{ .PascalCase }}
}
@form.ItemFlex() {
	@toggle.Toggle(toggle.Props{
		ID:      {{ .CamelCase }}Key,
		Name:    {{ .CamelCase }}Key,
		Checked: {{.ModelTransformedText.CamelCase}}.{{ .PascalCase }},
	})
	@form.Description() {
		Check for {{ .PascalCase }}
	}
}
