{{ define "cmd_api_main" }}package main

import (
    "fmt"
    "github.com/labstack/echo/v4"
    "github.com/labstack/echo/v4/middleware"
    "github.com/manicar2093/echoroutesview"
    "github.com/manicar2093/winter"
    "github.com/manicar2093/winter/apperrors"
    "github.com/manicar2093/winter/converters"
    "github.com/manicar2093/winter/validator"
    "{{.ModuleName}}/pkg/config"
    "{{.ModuleName}}/cmd/api/controllers"
)

func main() {
    var (
        echoInstance = echo.New()
        baseEndpoint = "/api/v1"
        baseGroup    = echoInstance.Group(baseEndpoint)
        conf         = converters.Must(winter.ParseConfig[config.Config]())
    )
    echoInstance.Use(middleware.Logger())
    winter.RegisterController(baseGroup, controllers.NewInitController())
    echoroutesview.RegisterRoutesViewer(echoInstance)

    echoInstance.HTTPErrorHandler = apperrors.HandlerWEcho
    echoInstance.Validator = validator.NewGooKitValidator()

    echoInstance.Logger.Fatal(echoInstance.Start(fmt.Sprintf(":%d", conf.Port)))
}
{{ end }}
