{{ define "cmd_api_controllers_init" }}package controllers

import (
    "{{.GoDeps.Echo.Path}}"
    "{{.GoDeps.Std.Net.Http.Path}}"
)

type InitRestController struct {}

func NewInitRestController() *InitRestController {
    return &InitRestController{}
}

func (c *InitRestController) SetUpRoutes(group *echo.Group) {
    group.GET("/initial", c.GetHandler)
}

func (c *InitRestController) GetHandler(ctx echo.Context) error {
    return ctx.String(http.StatusOK, "Hello from your new API :D")
}
{{ end }}
