{{ define "cmd_service_controllers_init_web" }}package controllers

import (
    "{{.GoDeps.Echo.Path}}"
    "{{.GoDeps.Cmd.Service.Controllers.InitPages.Path}}"
    "{{.GoDeps.Std.Net.Http.Path}}"
)

type InitWebController struct {}

func NewInitWebController() *InitWebController {
    return &InitWebController{}
}

func (c *InitWebController) SetUpRoutes(group *echo.Group) {
    group.GET("/initial", c.GetHandler)
}

func (c *InitWebController) GetHandler(ctx echo.Context) error {
	return core.Render(ctx, http.StatusOK, initpages.HomePage())
}
{{ end }}
