{{ define "pkg_config_config.go" }}// Package config contains a struct with all your API configs
package config

import (
    {{.GoDeps.Project.Core.GenerateImportString}}
    {{.GoDeps.Project.Core.Connections.GenerateImportString}}
)

type Config struct {
    core.Config
    connections.DatabaseConnectionConfig
}
{{ end }}
